<?xml version="1.0" encoding="utf-8"?>
<package>
  <info>
    <name>CUI_Application</name>
    <label>CUI Application</label>
    <version>0.1.0</version>
    <version_label>0.1.0</version_label>
    <type>app</type>
    <owner>Emil Gram</owner>
    <description>Introduces an ItemType designed to serve as a central hub for all custom applications within Aras Innovator.</description>
    <copyright>@2025</copyright>
    <package_icon>Resources/package.ico</package_icon>
    <more_information_url>https://github.com/EmilGramDK/Aras-CUI_Application</more_information_url>
    <tool_minimal_version_required>1.18</tool_minimal_version_required>
  </info>
  <installation do_backup="false">

    <module id="IS" label="Code tree update" description="Copy files into the code tree" required_properties="Innovator.Dir">
			<copy todir="${Innovator.Dir}\" failonerror="true">
				<fileset basedir="${Package.Dir}\CodeTree">
					<include name="**" />
				</fileset>
			</copy>
		</module>

		<module id="DB" label="Import into Innovator DB" description="Import into Innovator DB" required_properties="Innovator.URL|Innovator.DB|Innovator.Username|Innovator.Password">
			<import dir="${Package.Dir}/Imports/" failonerror="true" />
		</module>

  </installation>
</package> 